*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
html,body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 16px;
} 

nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #b39895;
    position: fixed;
}

.links a{
    font-style: italic;
    background-color: #b39895;
    font-size: 18px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    }

.TitleWebsite{
    width: 50%;
    background-color: #b39895;
    font-size: 18px;
    color: black;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeBackground{
    width: 100%;
    height: 45%;
    background-color: #192b32;
}

.welcomeContainer{
    background-color: #393b2f;
    display:flex;
    justify-content: space-evenly;
        }

.welcomeImage{
            width: 500px; ;
            height: 308px;
            background-size: cover;
            background-position: center;
            background-image: url(../images/Coffee\ and\ Computer.png);
            margin-left: 50px;
            border: 2px solid #b39895;
        }

.coolImagery{
    width:500px ;
    height: 308px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Eventsy.png);
    margin-left: 50px;
    border: 5px solid #b39895;
}

.coolImagery2{
    width:500px ;
    height: 340px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/ThePerfectFit.png);
    margin-left: 50px;
    border: 5px solid #b39895;
}

.coolImagery3{
    width:500px ;
    height: 308px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/TravelFlyImage.png);
    margin-left: 50px;
    border: 5px solid #b39895;
}

.coolImagery4{
    width:500px ;
    height: 308px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Sweet.io.png);
    margin-left: 50px;
    border: 5px solid #b39895;
}


.left1{
width:400px ;
height: 280px;
margin-right:330px ;
margin-top: 70px;
background-color: #393b2f;
}

.right1{
width: 400px;
height: 280px;
margin-right: 180px;
margin-top: 86px;
background-color: #393b2f;
}

.aboutParagraph{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393b2f;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    text-align: right;
}

.aboutSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    background-color: #393b2f;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-align: center;
}

.aboutSectionBackground{
    width: 100%;
    height: 60%;
    background-color: #393b2f;
}

.aboutSectionContainer{
    background-color: #393b2f;
    display:flex;
    justify-content: space-evenly;
    
       }

.left2{
        width:400px ;
        height: 400px;
        margin-top: 5%;
        background-color: #393b2f;
        }

.authorImagery{
            width: 350px;
            height: 350px;
            border-radius: 180px;
            border: 5px solid #b39895;
            overflow:hidden;
            background-image: url(../images/AuthorImage.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
.right2{
        width: 400px;
        height: 280px;
        background-color: #393b2f;
        }

.authorAboutSection{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #393b2f;
            color: white;
            font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            text-align: center;
            width: 100%;
        }

.aboutAuthorSection{
    margin-top: 20%;
    background-color: #393b2f;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-decoration: underline;
}

.aboutAuthorParagraph{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393b2f;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 3%;
}

.projectTitle{
    text-align: center;
    font-size: 30px;
    height: 8%;
    background-color: #b39895;
    font-size: 35px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-decoration: underline;
}


.projectBackground{
    width: 100%;
    height: 50%;
    background-color: #192b32;
}


.projectContainer{
    background-color: #192b32;
    display:flex;
    justify-content: space-evenly;
        }

.left3{
    width:800px ;
    height: 280px;
    margin-right:130px;
    background-color: #192b32;
            }
            
.right3{
            width: 400px;
            height: 280px;
            margin-right: 180px;
            margin-top: 86px;
            background-color: #192b32;
            }
        
.projectParagraph{
                padding-top: 3%;
                padding-left: 5%;
                background-color: #192b32;
                color: white;
                font-style: italic;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                text-align: center;
            }
            
.projectSection{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20%;
                background-color: #192b32;
                color: white;
                font-style: italic;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 40px;
                text-align: center;
            }

.projectCreation{
    padding-top: 2%;
    background-color: #192b32;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
            }

.contactInformation{
    height: 40%;
    width: 100%;
    background-color: #393b2f;
}

.footerSite{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b39895;
}

.copyright{
    font-style: italic;
    background-color: #b39895;
    font-size: 18px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactContainer{
    background-color: #393b2f;
    display:flex;
    justify-content: space-evenly;
        }

.left4{
    width:500px ;
    height: 280px;
    margin-right:130px;
    margin-top: 40px;
    background-color: #192b32;
        }
                    
.right4{
    width: 500px;
    height: 280px;
    margin-top: 40px;
    background-color: #192b32;
    }

.contactParagraph{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192b32;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    text-align: right;
    }

.contactCreation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192b32;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
        }

.profileLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #192b32;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
        }

.contactSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    background-color: #192b32;
    color: white;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    }







    @media screen and (max-width: 800px) {
        nav {
        width: 100%;
        height: 300px;
        flex-direction: column;   
        box-direction: vertical;    
        }
        nav .links  a{
            box-direction: vertical;
        }
        nav .TitleWebsite {
           margin-left: 680px;
          margin-bottom: 15px;
        }
      }

      






